<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<div class="container-fluid">


<!-- displays the first name of user IF they are logged in -->
<div class="container">
  <h1>Hi, <%= current_user.first_name if current_user%></h1>
</div>


<div class="container-fluid">
  <h1>DB pull 1</h1>
  <%= @posts.inspect %>
</div>

<h1>DB pull 2</h1>
<%= "This is the title of the first blog: #{@blogs.first.title}" %>

<h1>DB Pull 3</h1>
<%= @skills.first.title %>
<%= @skills.first.percent_utilized %>

<%= to_query(@skills) do |f| %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <% end %>
</div>
